name: Tests

on:
  pull_request:
    branches:
      - "**"
  push:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        env:
          REDIS_HOST: localhost
          REDIS_PORT: 6379

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Setup Python3.13
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Cache Rust
        uses: Swatinem/rust-cache@v2